@page
@model RazorPortfolio.Pages.ContactModel
@{
    ViewData["Title"] = "Contact Me";
}
<h1>@ViewData["Title"]</h1>

<p>Feel free to message me through these services!</p>

<div class="row">
    <a href="https://www.linkedin.com/in/omar-bonnet-5328b68b/" target="_blank"><img width="70" src="~/images/contactIcons/linkedin.svg" />LinkedIn</a>
</div>
<div class="row">
    <a href="https://github.com/obonn1" target="_blank"><img width="70" src="~/images/contactIcons/github.svg" />GitHub</a>
    
</div>
<div class="row">
    <a href="mailto:omar.bonnet@gmail.com" target="_blank"><img width="70" src="~/images/contactIcons/mail.svg" />Omar.Bonnet@gmail.com</a>
</div>